<mat-card>
  <mat-card-header fxLayout fxLayoutAling="space-between center">
    <mat-card-title>
      <mat-icon>insights</mat-icon>
      Statistics
    </mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="column" fxLayoutAlign="center center" class="stats-wrapper">
      <div class="stats">78</div>
      <mat-card-subtitle>PIREPS Filed</mat-card-subtitle>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center" class="stats-wrapper">
      <div class="stats">-191 FPM</div>
      <mat-card-subtitle>Average Landing Rate</mat-card-subtitle>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center" class="stats-wrapper">
      <div class="stats">137:27:01</div>
      <mat-card-subtitle>In Flight Time</mat-card-subtitle>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center" class="stats-wrapper">
      <div class="stats">11000</div>
      <mat-card-subtitle>Earned Points</mat-card-subtitle>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center" class="stats-wrapper">
      <div class="stats">EPKT/KTW</div>
      <mat-card-subtitle>Current Location</mat-card-subtitle>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center" class="stats-wrapper">
      <div class="stats">2000</div>
      <mat-card-subtitle>Average Earned Points</mat-card-subtitle>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center" class="stats-wrapper">
      <div class="stats">A320 neo</div>
      <mat-card-subtitle>Most Flown Aircrat Type</mat-card-subtitle>
    </div>
  </mat-card-content>
</mat-card>
