<mat-card>
  <mat-card-header fxLayout fxLayoutAling="space-between center">
    <mat-card-title>
      <mat-icon>insights</mat-icon>
      Statistics
    </mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="column" fxLayoutAlign="center center" class="stats-wrapper">
      <div data-cy="pireps" class="stats">
        {{ statistics?.pilotReportsCount || 0 }}
      </div>
      <mat-card-subtitle>PIREPS Filed</mat-card-subtitle>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center" class="stats-wrapper">
      <div data-cy="avgLandingRate" class="stats">
        @if (statistics?.averageLandingRate) {
          {{ statistics?.averageLandingRate }} FPM
        } @else {
          Not Available
        }
      </div>
      <mat-card-subtitle>Average Landing Rate</mat-card-subtitle>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center" class="stats-wrapper">
      <div data-cy="inFlightTime" class="stats">{{ inFlightTime }}</div>
      <mat-card-subtitle>In Flight Time</mat-card-subtitle>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center" class="stats-wrapper">
      <div data-cy="points" class="stats">
        {{ statistics?.earnedPoints || 0 }}
      </div>
      <mat-card-subtitle>Earned Points</mat-card-subtitle>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center" class="stats-wrapper">
      <div data-cy="currentLocation" class="stats">{{ currentLocation }}</div>
      <mat-card-subtitle>Current Location</mat-card-subtitle>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center" class="stats-wrapper">
      <div data-cy="averagePoints" class="stats">{{ averagePoints }}</div>
      <mat-card-subtitle>Average Earned Points</mat-card-subtitle>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center" class="stats-wrapper">
      <div data-cy="mostFlownAircraft" class="stats">
        {{ statistics?.mostFlownAircraftType || 'Unknown' }}
      </div>
      <mat-card-subtitle>Most Flown Aircrat Type</mat-card-subtitle>
    </div>
  </mat-card-content>
</mat-card>
