<div class="summary-wrapper" fxLayout="column" fxLayoutAlign="center center">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <h2>{{ flight?.callsign }}</h2>
    <h3>(id: {{ flight?.id }})</h3>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="column" class="section">
      <span fxLayout="row" fxLayoutAlign="center center" class="flight-date">
        <mat-icon>today</mat-icon>&nbsp;
        <span>
          {{ flight?.departureTime | date: 'dd MMMM YYY' }}
        </span>
      </span>
      <span fxLayout="row" fxLayoutAlign="space-around center" class="airports">
        <span>
          {{ flight?.departure?.icao }}
        </span>
        <mat-icon>flight</mat-icon>
        <span>
          {{ flight?.arrival?.icao }}
        </span>
      </span>

      <span fxLayout="row" fxLayoutAlign="space-around center">
        <span fxLayout="column">
          <span>Sch: {{ flight?.departureTime | date: 'hh:mm' : 'UTC' }}z</span>
        </span>
        <span fxLayout="column">
          <mat-icon>schedule</mat-icon>
        </span>
        <span fxLayout="column">
          <span>Sch: {{ flight?.arrivalTime | date: 'hh:mm' : 'UTC' }}z</span>
        </span>
      </span>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center" class="section">
      <h2>Pilot</h2>
      <h4>{{ flight?.pilot?.username }}</h4>
      <h2>Aircraft</h2>
      <h4 fxLayout="column" fxLayoutAlign="center center">
        <span>
          {{ flight?.aircraft.airframe.icao }}
          {{ flight?.aircraft.name }}
        </span>
        <small>{{ flight?.aircraft.airframe.name }}</small>
      </h4>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center" class="section">
      <h2>Summary</h2>
      <span fxLayout="row" fxLayoutAlign="space-between center" class="w-100">
        <span>Duration:</span>
        <span>{{ flight?.duration }}&nbsp;min</span>
      </span>
      <span fxLayout="row" fxLayoutAlign="space-between center" class="w-100">
        <span>Fuel used:</span>
        <span>{{ fuelUsed }}&nbsp;kgs</span>
      </span>
    </div>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center">
    <h2>Report</h2>
    @for (penalty of penalties; track $index) {
      <div fxLayout="column" class="report-entry">
        <div fxLayout="row" fxLayoutAlign="space-around center" fxFill>
          <span>{{ penalty.name }}</span>
          <span>{{ penalty.value }}</span>
        </div>
      </div>
    }
    <div fxLayout="column" fxLayoutAlign="center center" class="report-entry">
      <h3>Landing Report</h3>

      <div fxLayout="row" fxLayoutAlign="space-around center" fxFill>
        <span>Bounced: </span>
        <span>{{ landingResult?.bounceCounter }}</span>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-around center" fxFill>
        <span>Average touchdown: </span>
        <span>{{ landingResult?.averageTouchdownRate }}</span>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-around center" fxFill>
        <span>Average GForce: </span>
        <span>{{ landingResult?.averageGForce }}</span>
      </div>
    </div>
  </div>
  <h2>Full Log</h2>
  @for (event of events; track $index) {
    <div fxLayout="column" class="report-entry">
      <div fxLayout="row" fxLayoutAlign="space-between center" fxFill>
        <span>{{ event.eventState.timestamp | date: 'hh:mm' }}</span>
        <span>{{ event.name }}</span>
        <span></span>
      </div>
    </div>
  }
</div>
