<mat-toolbar color="primary">
  <mat-toolbar-row fxLayout fxLayoutAlign="space-between center">
    <button mat-button class="brand" [routerLink]="'/'">
      <span>EdPlanes</span>
    </button>
    <div fxHide.lt-sm="true">
      <mat-icon>access_time</mat-icon>&nbsp;{{
        currentUTCTime | date: 'HH:mm'
      }}&nbsp;zulu
    </div>
    <div fxHide.lt-sm="true">
      <mat-icon>access_time</mat-icon>&nbsp;
      {{ currentTime | date: 'HH:mm' }}&nbsp; local
    </div>
    <mat-slide-toggle [formControl]="toogleControl" class="mr-8 theme-switch">
    </mat-slide-toggle>
  </mat-toolbar-row>
  <mat-toolbar-row *ngIf="!isHeadless"></mat-toolbar-row>
</mat-toolbar>
