:host {
  display: flex;
  justify-content: center;
  margin: 10vh 0;
}

.loginError {
  color: white;
  padding: 2rem;
  background-color: red;
}

mat-card-header {
  margin-bottom: 2.5rem;
}

mat-card {
  max-width: 40vw;
  padding: 2rem;
}

mat-card-actions {
  padding: 2rem;
}

mat-form-field {
  width: 35vw;
  margin: 0 2.5rem 0 2.5rem;
}

mat-card-header,
mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}
