<mat-toolbar color="primary" class="drag">
  <mat-toolbar-row fxLayout fxLayoutAlign="space-between center">
    <button mat-button class="brand" [routerLink]="'/'">
      <span>EdPlanes</span>
    </button>
    <div fxHide.lt-sm="true">
      <mat-icon>access_time</mat-icon>&nbsp;{{
        currentUTCTime | date: 'HH:mm'
      }}&nbsp;zulu
    </div>
    <div fxHide.lt-sm="true">
      <mat-icon>access_time</mat-icon>&nbsp;
      {{ currentTime | date: 'HH:mm' }}&nbsp; local
    </div>
    <nav>
      <mat-slide-toggle [formControl]="toogleControl" class="mr-8 theme-switch">
      </mat-slide-toggle>
      @if (isElectron) {
        <button mat-button (click)="onMinimizeClick()">
          <mat-icon>minimize</mat-icon>
        </button>
        <button mat-button (click)="onCloseClick()">
          <mat-icon>close</mat-icon>
        </button>
      }
    </nav>
  </mat-toolbar-row>
  @if (!isHeadless) {
    <mat-toolbar-row fxLayout fxLayoutAlign="space-between center">
      <div fxShow="true" fxHide.gt-sm="true">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <nav fxShow="true" fxHide.lt-md="true">
        @for (item of displayedPaths; track $index) {
          <span
            [routerLink]="item.path"
            routerLinkActive
            #rla="routerLinkActive">
            @if (rla.isActive) {
              <button mat-raised-button [routerLink]="item.path">
                {{ item.displayName }}
              </button>
            } @else {
              <button mat-button [routerLink]="item.path">
                {{ item.displayName }}
              </button>
            }
          </span>
        }
      </nav>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        @if (currentUser) {
          <button mat-menu-item routerLink="user/profile">Profile</button>
          <button mat-menu-item routerLink="user/settings">Settings</button>
          <mat-divider></mat-divider>
          @if (isDispatcher) {
            <button mat-menu-item routerLink="dispatch">Dispatcher</button>
          }
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="logout()">Logout</button>
        } @else {
          <button mat-menu-item routerLink="login">Login</button>
          <button mat-menu-item routerLink="register">Register</button>
        }
      </mat-menu>
    </mat-toolbar-row>
  }
</mat-toolbar>
<mat-sidenav-container fxFlexFill>
  <mat-sidenav
    color="primary"
    #sidenav
    fxLayout="column"
    mode="over"
    opened="false">
    <div fxLayout="column">
      @for (item of displayedPaths; track $index) {
        <a mat-button [routerLink]="item.path">{{ item.displayName }}</a>
      }
    </div>
  </mat-sidenav>
  <mat-sidenav-content fxFlexFill>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
