mat-card-content {
  margin-top: 1rem;
  width: 100%;
  height: 100%;
}

mat-card {
  margin: 2rem;
  border-radius: 1rem;
  min-width: 20rem;
  height: 100%;
}

.iata {
  font-size: large;
  font-weight: 500;
  padding: 0.5rem;
}

.callsign {
  padding: 0.5rem;
}

.flight-data {
  width: 100%;
  margin: 1rem;
}

.actions {
  width: 100%;
  margin: 1rem;
}
