<mat-card>
  <mat-card-header fxLayout fxLayoutAlign="space-between center">
    <mat-card-title>
      <mat-icon>flight_takeoff</mat-icon>
      {{ isNextFlight ? 'Next' : 'Last' }} flight
    </mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content fxLayout="column" fxLayoutAlign="center center">
    @if (!flight) {
      @if (isNextFlight) {
        <button
          mat-raised-button
          color="accent"
          (click)="openBookFlightDialog()">
          Book Flight
        </button>
      } @else {
        <mat-icon>sentiment_dissatisfied</mat-icon>&nbsp; No flights found yet!
      }
    } @else {
      <div
        fxLayout="row"
        fxLayoutAlign="space-between center"
        class="flight-data">
        <div fxLayout="column" fxLayoutAlign="center center">
          {{ flight.departure.icao }}
          <span class="iata">{{ flight.departure.iata }}</span>
          <span>{{ flight.departureTime | date: 'dd.MM.YYY HH:mm' }} </span>
        </div>
        <div fxLayout="column" fxLayoutAlign="center center">
          {{ flight.aircraft.airframe.icao }}
          <span>{{ flight.callsign }}</span>
          <span>{{ flightTime }}</span>
          <span>{{ flightDistance }} nm</span>
        </div>
        <div fxLayout="column" fxLayoutAlign="center center">
          {{ flight.arrival.icao }}
          <span class="iata">{{ flight.arrival.iata }}</span>
          <span>{{ flight.arrivalTime | date: 'dd.MM.YYYY HH:mm' }}</span>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center" class="actions">
        <div
          matTooltip="Please use acars app!"
          [matTooltipDisabled]="isElectron">
          <button
            mat-raised-button
            [disabled]="!isElectron"
            color="primary"
            (click)="startFlight()">
            Start Flight
          </button>
        </div>
        <button mat-stroked-button color="accent" (click)="cancelFlight()">
          Cancel Flight
        </button>
      </div>
    }
  </mat-card-content>
</mat-card>
