button {
  margin: 2rem;
}

mat-form-field {
  width: 35vw;
  margin: 0 2.5rem 0 2.5rem;
}

mat-card-header,
mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

.dialog-booking-container {
  max-width: 70vw;
}

.schedule-flight-selection {
  height: auto !important;
  padding: 1.5rem;
}

.iata {
  font-size: large;
  font-weight: 500;
  padding: 0.5rem;
}
